<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Written by {{author}} on {{formatDate publication_date}}</p>
 
  <p>
    <button class="btn btn-primary add-comment-btn" data-blog-id="{{id}}">Add Comment</button>
  </p>
</div>