{{!-- blog --}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p><span for="img" aria-label="mobile">📱</span></p>
  <p>{{description}}</p>
  <p>Written by {{author}} on {{formatDate publication_date}}</p>
  <p id="blog-id" style="display: none">{{id}}</p>

  {{! Display existing comments }}
  <div id="comments-container">
    {{#if comments.length}}
      {{#each comments}}
        <div>{{comment_text}} - Author: {{comment_author}}</div>
      {{/each}}
    {{else}}
      <p>No comments yet.</p>
    {{/if}}
  </div>

  {{! Form to add a new comment }}
  <form id="comment-form">
    <div class="form-group">
      <label for="comment">Add Your Comment:</label>
      <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
  </form>
</div>

<script src="/js/comment.js"></script>