<body>
  <h1 class="text-center">Welcome to the Tech Blog!</h1>
  <p></p>

  <h2>All Blogs:</h2>
  <p></p>

  {{#if blogs.length}}
    <div class="blog-list">
      {{#each blogs}}
        <div class="blog-post">
          <h3>{{title}}</h3>
          <p>Written by {{author}}</p> 
          <p>{{publication_date}}</p>
          <p>{{description}}</p>
          <a href="/blog/{{id}}">Read More</a>
        </div>
      {{/each}}   
    </div>
  {{else}}
    <p>No blogs found.</p>
  {{/if}}
  <p></p>

<script src="/js/profile.js"></script>
</body>
</html>