<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-blog-form">
      <input type="hidden" id="user-id" value="{{id}}">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-author">Author:</label>
        <input class="form-input" type="text" id="blog-author" name="blog-author" value="{{name}}" readonly />
      </div>
      <div class="form-group">
        <label for="blog-description">Description:</label>
        <textarea class="form-input" id="blog-description" name="blog-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary create-blog-btn">Create</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 blog-list">
    <h3>Your Blog Posts:</h3>

    {{#if userBlogs.length}}
      {{#each userBlogs as |blog|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
            <p>Written by {{blog.author}} on {{formatDate blog.publication_date}}</p>
            <button class="btn btn-sm btn-secondary add-comment-btn" data-blog-id="{{blog.id}}">Add Comment</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger delete-blog-btn" data-id="{{blog.id}}">DELETE</button>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No blogs found.</p>
    {{/if}}
  </div>
</div>

<script src="/js/profile.js"></script>